
.box-repo {
	border: 1px solid #eee;
	background-color: white;
	color: #000000;
	float: none;
	border-radius: 0;
}


.media img
{
	border-radius: 100%
}

.box-repo:hover {
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

html, body {
	
	/*background-image: url("http://subtlepatterns.com/patterns/pixel_weave.png");*/
	background-image: url("http://subtlepatterns.com/patterns/pw_maze_white.png");
	background-position: initial initial;
	background-repeat: initial initial;
}

#wrap {
	min-height: 100%;
}

#social-buttons {
	padding: .4em 0 .1em;
	vertical-align: middle;
	text-align: center;
	
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#main {
	overflow: auto;
	padding-bottom: 13%; /*this needs to be bigger than footer height*/
}

.tester {
	color: red;
}


.minutedetails {
	padding: 12px 0 7px;
	text-align: center;
	color: #00C9FF;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
}
.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 20;
	top: 40px;
	background-color: #f9bb39;
}
